:root {
  --primary-color: #062ce6;
  --on-primary-color: #9f0ad0;
  --secondary-orange-color: #f28b05;
  --secondary-light-orange-color: #f1c68c;
  --highlight-dark-color: #062ce6;
  --highlight-light-color: #c5cce9;
  --radius: 16px;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --highlight-font: 'Reggae One', serif;
  --secondary-font: 'Klee One', 'sarif';
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-light-orange-color);
}

#topnav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#topnav li {
  list-style: none;
  padding: 0.7em 0.7em;
  position: relative;
}

#topnav li a {
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 1000;
  transition: 0.3s ease-in-out;
}

#topnav li a:hover,
#topnav li a.active {
  color: var(--secondary-orange-color);
}

#topnav li a:hover::after,
#topnav li a.active::after {
  content: "";
  width: 30%;
  height: 1vh;
  position: absolute;
  bottom: -0.25em;
  left: 0.6em;
}

#mobile {
  display: none;
  font-size: 2.5em;
}

#mobile i {
  color: var(--primary-color);
}
.logo-text {
  display: flex;
  padding: 0.2em;
}

.logo-text h1 {
  font-size: 3em;
  font-family: var(--highlight-font);
  padding-top: 0.5em;
  padding-right:0.1em;
}

@media screen and (max-width: 1025px) and (min-width: 641px) {
  #topnav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 125px;
    right: -950px;
    width: 100vw;
    height: 100vh;
    background-color: var(--highlight-light-color);
    box-shadow: 0 40px 60px;
    padding: 40px 0 0 10px;
    transition: 0.4s ease-in-out;
  }

  #topnav.active {
    right: 0px;
    z-index: 2;
  }

  #mobile {
    display: block;
    font-size: 3em;
    position: absolute;
    left: 1em;
  }

  #topnav li {
    margin-bottom: 25px;
  }

  #mobile li {
    font-size: 2em;
    cursor: pointer;
  }

  #topnav li a {
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bolder;
    transition: 0.4s ease-in-out;
    padding: 1em;
  }
    #topnav li a:hover::after,
    #topnav li a.active::after {
      content: "";
      width: 30%;
      height: 1vh;
      background-color: blue;
      position: absolute;
      bottom: -0.25em;
      left: 0.6em;
    }

    .logo-text {
      display: flex;
      padding: 0.2em;
    }
  
    .logo-text h1 {
      font-size: 3em;
      font-family: var(--highlight-font);
      padding-top: 0.5em;
      padding-right: 0.1em;
    }
  }

@media screen and (max-width: 640px) and (min-width:375px) {
      #topnav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 95px;
        right: -950px;
        width: 100vw;
        height: 100vh;
        background-color: var(--highlight-light-color);
        box-shadow: 0 40px 60px;
        padding: 40px 0 0 10px;
        transition: 0.4s ease-in-out;
      }
  
      #topnav.active {
        right: 0px;
        z-index: 2;
      }
  
      #mobile {
        display: block;
        font-size: 2.5em;
        position: absolute;
        left: 0.5em;
      }
  
      #topnav li {
        margin-bottom: 25px;
      }
  
      #mobile li {
        font-size: 2em;
        cursor: pointer;
      }
  
      #topnav li a {
        text-decoration: none;
        font-size: 2em;
        font-weight: bolder;
        transition: 0.4s ease-in-out;
        padding: 0.5em;
      }
  
      #topnav li a:hover::after,
      #topnav li a.active::after {
        content: "";
        width: 30%;
        height: 1vh;
        background-color: blue;
        position: absolute;
        bottom: -0.25em;
        left: 0.6em;
      }
  
      .logo-text {
        display: flex;
        padding: 0.5em;
      }
  
      .logo-text h1 {
        font-size: 2.4em;
        font-family: var(--highlight-font);
        padding-top: 0.5em;
        padding-right: 0.1em;
      }
      .logo-text img {
        display: none;
      }
    }

@media screen and (max-width: 374px) {
      #topnav {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          position: fixed;
          top: 95px;
          right: -950px;
          width: 100vw;
          height: 100vh;
          background-color: var(--highlight-light-color);
          box-shadow: 0 40px 60px;
          padding: 40px 0 0 10px;
          transition: 0.4s ease-in-out;
        }
      
        #topnav.active {
          right: 0px;
          z-index: 2;
        }
      
        #mobile {
          display: block;
          font-size: 2em;
          position: absolute;
          left: 0.5em;
        }
      
        #topnav li {
          margin-bottom: 25px;
        }
      
        #mobile li {
          font-size: 2em;
          cursor: pointer;
        }
      
        #topnav li a {
          text-decoration: none;
          font-size: 1.5em;
          font-weight: bolder;
          transition: 0.4s ease-in-out;
          padding: 0.25em;
        }
      
        #topnav li a:hover::after,
        #topnav li a.active::after {
          content: "";
          width: 30%;
          height: 1vh;
          background-color: blue;
          position: absolute;
          bottom: -0.25em;
          left: 0.6em;
        }
      
        .logo-text {
          display: flex;
          padding: 0.5em;
        }
      
        .logo-text h1 {
          font-size: 2em;
          font-family: var(--highlight-font);
          padding-top: 0.5em;
          padding-right: 0.1em;
        }
      
        .logo-text img {
          display: none;
        }
    }
