*, *:before, *:after{
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: rgb(231, 246, 169);
  --secondary-color: #0a366b;
  --secondary-light-color: #0565a9;
  --highlight-dark-color: rgba(24, 109, 67, 0.5);
  --highlight-light-color: hsl(213, 83%, 23%);
  --radius: 16px;
  --shadow: rgba(110, 130, 243, 0.2) 0px 7px 19px 0px;
  --highlight-font: 'Reggae One', serif;
  --secondary-font: 'Klee One', 'sarif';
  --background:rgba(167, 179, 119, 0.7);
}

.container {
  display: block;
  margin: 0 auto;
}

/* Custom website CSS */
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Reggae+One&display=swap');

body {
  margin: 0 auto;
}
h1 {
  font-size: 2em;
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-weight: 600;
}

h2 {
  font-size: 1.6em;
  font-family: var(--secondary-font);
  font-weight: 500;
 
}
h3 {
  font-size: 1.4em;
  font-family: var(--secondary-font);
  font-weight: 500;
  background-color: rgba(204, 255, 0, 0.5);
}
p {
  font-size: 1.1em;
  font-family: var(--secondary-font);
  line-height: 1.3em;
  font-weight: 450;
}
a {
  text-decoration: none;
  color: var(--highlight-dark-color);
  font-family: var(--secondary-font);
  font-weight: 550;
}

/*Home*/
.home {
  padding-top: 2vh;
}

/*Hero Section*/
.hero-text {
  position: relative;
  top:0.5vh;
  left: 1vh;
  height: 75vh;
}
.hero-text h1 {
  font-size: 3.8em;
  padding: 2vh;
  color: var(--highlight-light-color);
  font-family: var(--highlight-font);
  height: 5vh;
}
.hero-text h2 {
  font-size: 3.5em;
  padding: 9vh;
  width: 21vw;
  color: var(--highlight-light-color);
  font-family: var(--highlight-font);
  height: 23vh;
  margin-left: 0vh;
  margin-top: -5vh;
  border-radius: 50%;
}

/*plan*/
.plan-back {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
.plan-text h1{
  background-color: var(--highlight-light-color);
  padding: 1vh;
}
.plan-text h3 {
  padding: 1vh;
}
.plan-top button {
  color: var(--primary-color);
  background-color: var(--highlight-dark-color);
  border-radius: 10%;
  padding: 1vh;
  font-size: 1.5em;
}
.plan-top button:hover {
  background-color: var(--highlight-light-color);
}

/*Bottom*/
.plan-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2vh;
  column-gap: 1vh;
  padding-top: 2em;
}
.plan-bottom-text h1{
  background-color: var(--highlight-light-color);
}
.plan-bottom-text h3 {
  padding: 1vh;
}
.plan-bottom button {
  color: var(--primary-color);
  background-color: var(--highlight-dark-color);
  border-radius: 10%;
  padding: 1vh;
  font-size: 1.5em;
}

.plan-bottom button:hover {
  background-color: var(--highlight-light-color);
}
.plan-bottom-pics {
  width: 100%;
  
}


/*Explore*/
.Explore-section-text {
  padding-top: 0vh;
}
.Explore-section-text h2 {
  padding: 1vh;
}
.Explore-section-text h1 {
  padding: 1vh;
  background-color: var(--highlight-light-color);
}
.Explore-section h3 {
  color: var(--secondary-light-color);
  width: 49vh;
  padding-left:1vw;
}
.Explore-section p {
  width: 48vh;
}
.Explore-section a {
  color: var(--primary-color);
  font-weight: bolder;
  background-color: var(--highlight-light-color);
}
.Explore-section {
  padding-bottom: 1vh;
  padding-top:0vh;
  grid-row-gap:12vh;
  display: grid;
  grid-template-areas: 
  'Explore-Item1 Explore-Item3 Explore-Item4'
  'Explore-Item1 Explore-Item3 Explore-Item4'
  'Explore-Item2 Explore-Item5 Explore-Item6';
}
.Explore-section img {
  width: 49vh;
}

/*contactus*/
.login-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
}
.Login-left {
  padding: 3vh;
  margin-bottom: 27vh;
  margin-top: 2vh;
  margin-left: 2vh;
  border: 5px solid var(--primary-color);
  box-shadow: 10px 10px var(--highlight-light-color);
  background-color: rgba(218, 241, 136, 0.6);
  width: 90%;
}
.Login-left p {
  font-family: var(--secondary-font);
  line-height: 1.9em;
  color: var(--highlight-light-color);
  width: 35vw;
  text-align: center;
}
.Login-left h2 {
  font-family: var(--secondary-font);
  line-height: 1.9em;
  color: var(--primary-color);
  padding: 1vh;
  background-color: var(--highlight-light-color);
  text-align: center;
}
#mc_embed_shell {
  padding-left: 2vh;
  width: 40vw;
}
#mc_embed_signup_scroll {
  color :var(--highlight-light-color);
  font-family: var(--secondary-font);
  font-size: 1.2em;
}
.asterisk {
  color: red;
}
.optionalParent .Contact-button {
  color: var(--primary-color);
  position: relative;
  left: 4vw;
  font-size: 1.2em;
  background-color: var(--secondary-light-color);
  font-family: var(--secondary-font);
  border-radius: 50%;
  width: 100%;
}

@media screen and (max-width: 1279px) and (min-width: 769px){

  /*laptop */
  /*Home*/
    .home {
      width: 100%;
      padding-top: 1vh;
    }

/*Hero Section*/
.hero-text {
  position: relative;
  top: 0.5vh;
  left: 1vh;
  height: 30vh;
}

.hero-text h1 {
  font-size: 3.8em;
  padding: 1vh;
  color: var(--highlight-light-color);
  font-family: var(--highlight-font);
  height: 2vh;
}

.hero-text h2 {
  font-size: 3.5em;
  padding:7vh;
  width: 30vw;
  color: var(--highlight-light-color);
  font-family: var(--highlight-font);
  height: 15vh;
  margin-left: -0vh;
  margin-top: -3vh;
  border-radius: 50%;
}
  
    /*plan*/
    .plan-back {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
    }
        
    .plan-text h1 {
      background-color: var(--highlight-light-color);
      padding: 1vh;
    }

    .plan-text h3 {
      padding: 1vh;
    }
        
    .plan-top button {
      color: var(--primary-color);
      background-color: var(--highlight-dark-color);
      border-radius: 10%;
      padding: 1vh;
      font-size: 1.5em;
    }

    .plan-top button:hover {
      background-color: var(--highlight-light-color);
    }
  
    /*contactus*/
    .login-box {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .Login-left {
      padding: 3vh;
      margin-bottom: 5vh;
      margin: 0.5em;
      border: 5px solid var(--primary-color);
      box-shadow: 10px 10px var(--highlight-light-color);
      background-color: rgba(218, 241, 136, 0.6);
      width: 75%;
      text-align: center;
    }
    .Login-left p {
      font-size: 1.5em;
      font-family: var(--secondary-font);
      line-height: 1.9em;
      color: var(--highlight-light-color);
      width: 75%;
      text-align: center;
    }
    .Login-left h2 {
      font-size: 2em;
      font-family: var(--secondary-font);
      line-height: 2.2em;
      color: var(--primary-color);
      padding: 1vh;
      background-color: var(--highlight-light-color);
    }
    #mc_embed_shell {
      padding-top: 10vh;
      width: 70vw;
      padding-left: 0;
    }
      #mc_embed_signup {
      width: 100%;
      border: 5px solid var(--primary-color);
      box-shadow: 10px 10px var(--highlight-light-color);
    }
    #mc_embed_signup_scroll {
      color: var(--highlight-light-color);
      font-family: var(--secondary-font);
      font-size: 2.3em;
    }
    .asterisk {
      color: red;
    }
    .optionalParent .Contact-button {
      color: var(--primary-color);
      font-size: 1.2em;
      background-color: var(--secondary-light-color);
      font-family: var(--secondary-font);
      border-radius: 50%;
      width: 90%;
    }
    /*Explore*/
    .Explore-section-text {
      padding-top: 0vh;
    }
    .Explore-section-text h2 {
      padding: 1vh;
    }
    .Explore-section-text h1 {
      padding: 1vh;
      background-color: var(--highlight-light-color);
    }
    .Explore-section h3 {
      color: var(--secondary-light-color);
      width: 24vh;
      padding-left: 1vw;
    }
    .Explore-section p {
      width: 24vh;
    }
    .Explore-section a {
      color: var(--primary-color);
      font-weight: bolder;
      background-color: var(--highlight-light-color);
    }
    .Explore-section {
      padding-bottom: 1vh;
      padding-top: 0vh;
      grid-column-gap: 1vh;
      grid-row-gap: 3vh;
      display: grid;
      grid-template-areas:
        'Explore-Item1 Explore-Item3 Explore-Item4'
        'Explore-Item1 Explore-Item3 Explore-Item4'
        'Explore-Item2 Explore-Item5 Explore-Item6';
    }
    .Explore-section img {
      width: 24vh;
    }
}

@media screen and (max-width: 768px) and (min-width:481px) {
  /* tablet*/

/*Home*/
  .home {
    width: 100%;
    padding-top: 1vh;
  }

/*Hero Section*/
.hero-text {
  position: relative;
  top: 0.5vh;
  left: 1vh;
  height: 28vh;
}

.hero-text h1 {
  font-size: 3em;
  padding: 1vh;
  color: var(--highlight-light-color);
  font-family: var(--highlight-font);
  height: 4vh;
}

.hero-text h2 {
  font-size: 2.6em;
  padding: 6vh;
  width: 30vw;
  color: var(--highlight-light-color);
  font-family: var(--highlight-font);
  height: 12vh;
  margin-left: 0vh;
  margin-top: -4vh;
  border-radius: 50%;
}

  /*plan*/
  .plan-back {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .plan-text h1 {
    background-color: var(--highlight-light-color);
    padding: 1vh;
  }
  .plan-text h3 {
    padding: 1vh;
  }
  .plan-top button {
    color: var(--primary-color);
    background-color: var(--highlight-dark-color);
    border-radius: 10%;
    padding: 1vh;
    font-size: 1.5em;
  }

  .plan-top button:hover {
    background-color: var(--highlight-light-color);
  }
    
/*Bottom*/
.plan-bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 2vh;
  column-gap: 1vh;
}

.plan-bottom-text h1 {
  background-color: var(--highlight-light-color);
}
.plan-bottom-text h3 {
  padding: 1vh;
}
.plan-bottom button {
  color: var(--primary-color);
  background-color: var(--highlight-dark-color);
  border-radius: 10%;
  padding: 1vh;
  font-size: 1.5em;
}
.plan-bottom button:hover {
  background-color: var(--highlight-light-color);
}
.plan-bottom-pics {
  width: 100%;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

/*contactus*/
 .login-box {
   display: grid;
   grid-template-columns: 1fr;
   margin: 1em;
 }

 .Login-left {
   padding: 3vh;
   margin-bottom: 5vh;
   margin: 0.1em;
   border: 5px solid var(--primary-color);
   box-shadow: 10px 10px var(--highlight-light-color);
   background-color: rgba(218, 241, 136, 0.6);
   width: 97%;
 }

 .Login-left p {
   font-size: 1.5em;
   font-family: var(--secondary-font);
   line-height: 1.9em;
   color: var(--highlight-light-color);
   width: 80vw;
   text-align: center;
 }

 .Login-left h2 {
   font-size: 2em;
   font-family: var(--secondary-font);
   line-height: 2.2em;
   color: var(--primary-color);
   padding: 1vh;
   background-color: var(--highlight-light-color);
 }

 #mc_embed_shell {
   padding-left: 0.2vh;
   position: relative;
   top: 4vh;
 }

 #mc_embed_signup {
   width: 240%;
   margin: 0em;
   border: 5px solid var(--primary-color);
   box-shadow: 10px 10px var(--highlight-light-color);
 }

 #mc_embed_signup_scroll {
   color: var(--highlight-light-color);
   font-family: var(--secondary-font);
   font-size: 1.7em;
 }

 .asterisk {
   color: red;
 }

 .optionalParent .Contact-button {
   color: var(--primary-color);
   font-size: 1.2em;
   background-color: var(--secondary-light-color);
   font-family: var(--secondary-font);
   border-radius: 50%;
   width: 90%;
 }

/*Explore*/
.Explore-section {
  padding: 0vh;
  justify-content: center;
  display: grid;
  grid-row-gap: 10vh;
  grid-template-areas:
    'Explore-Item3'
    'Explore-Item1'
    'Explore-Item4'
    'Explore-Item2'
    'Explore-Item5'
    'Explore-Item6';
}

.Explore-section-text h2 {
  padding: 0vh;
  font-size: 1.3rem;
}
.Explore-section p {
  font-size: 1.1rem;
  width: 100%;
}
.Explore-section a {
  color: var(--primary-color);
  font-weight: bolder;
  background-color: var(--highlight-light-color);
}
.Explore-section img {
  width: 100%;
  height: auto;
  padding-left: 0vw;
  padding: 0vh;
}
.Explore-Item5 {
  padding-top: 0vh;
}
}

@media screen and (max-width: 480px) {
  /*phone*/
  
  /*Hero Section*/
    .hero-text {
      position: relative;
      top: 0.5vh;
      left: 1vh;
      height: 85vh;
    }
  
    .hero-text h1 {
      font-size: 3em;
      padding: 1vh;
      color: var(--highlight-light-color);
      font-family: var(--highlight-font);
      height: 4vh;
    }
  
    .hero-text h2 {
      font-size: 2.6em;
      padding: 6vh;
      width: 30vw;
      color: var(--highlight-light-color);
      font-family: var(--highlight-font);
      height: 12vh;
      margin-left: 0vh;
      margin-top: -4vh;
      border-radius: 50%;
    }
  
    /*plan*/
    .plan-back {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
    }
  
    .plan-text h1 {
      background-color: var(--highlight-light-color);
      padding: 1vh;
    }
  
    .plan-text h3 {
      padding: 1vh;
    }
  
    .plan-top button {
      color: var(--primary-color);
      background-color: var(--highlight-dark-color);
      border-radius: 10%;
      padding: 1vh;
      font-size: 1.5em;
    }
  
    .plan-top button:hover {
      background-color: var(--highlight-light-color);
    }
  
    /*Bottom*/
    .plan-bottom {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      margin-left: auto;
      margin-right: auto;
    }
  
    .plan-bottom-text h1 {
      background-color: var(--highlight-light-color);
    }
  
    .plan-bottom-text h3 {
      padding: 1vh;
    }
  
    .plan-bottom button {
      color: var(--primary-color);
      background-color: var(--highlight-dark-color);
      border-radius: 10%;
      padding: 1vh;
      font-size: 1.5em;
    }
  
    .plan-bottom button:hover {
      background-color: var(--highlight-light-color);
    }
  
    .plan-bottom-pics {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding:0px;
    }
  /*contactus*/
  .login-box {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0em;
  }
  .Login-left {
    padding: 1.5vh;
    margin-bottom: 5vh;
    border: 5px solid var(--primary-color);
    box-shadow: 10px 10px var(--highlight-light-color);
    background-color: rgba(218, 241, 136, 0.6);
    width: 90%;
  }
  .Login-left p {
    font-size: 1.5em;
    font-family: var(--secondary-font);
    line-height: 1.9em;
    color: var(--highlight-light-color);
    width: 80vw;
    text-align: center;
  }
  .Login-left h2 {
    font-size: 2em;
    font-family: var(--secondary-font);
    line-height: 2.2em;
    color: var(--primary-color);
    padding: 1vh;
    background-color: var(--highlight-light-color);
  }
  #mc_embed_shell {
    padding-left: 0.2vh;
    position: relative;
    top: 3vh;
  }
  #mc_embed_signup {
    width: 240%;
    margin: 0.1em;
    border: 5px solid var(--primary-color);
    box-shadow: 10px 10px var(--highlight-light-color);
  }
  #mc_embed_signup_scroll {
    color: var(--highlight-light-color);
    font-family: var(--secondary-font);
    font-size: 1.7em;
  }
  .asterisk {
    color: red;
  }
  .optionalParent .Contact-button {
    color: var(--primary-color);
    font-size: 1.2em;
    background-color: var(--secondary-light-color);
    font-family: var(--secondary-font);
    border-radius: 50%;
    width: 99%;
  }
        
  /*Explore*/
  .Explore-section {
    padding: 0vh;
    justify-content: center;
    display: grid;
    grid-row-gap: 5vh;
    grid-template-areas:
      'Explore-Item3'
      'Explore-Item1'
      'Explore-Item4'
      'Explore-Item2'
      'Explore-Item5'
      'Explore-Item6';
  }
  .Explore-section h3 {
    padding-left: 0;
    width: 100%;
  }
  .Explore-section-text h2 {
    padding: 0vh;
    font-size: 1.3rem;
  }
  .Explore-section p {
    font-size: 1.1rem;
    width: 100%;
  }
  .Explore-section a {
    color: var(--primary-color);
    font-weight: bolder;
    background-color: var(--highlight-light-color);
  }
  .Explore-section img {
    width: 100%;
    height: auto;
    padding-left: 0vw;
    padding: 0vh;
  }

  .Explore-Item5 {
    padding-top: 0vh;
  }
}
