*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #062ce6;
  --on-primary-color: #9f0ad0;
  --secondary-orange-color: #f28b05;
  --secondary-light-orange-color: #f1c68c;
  --highlight-dark-color: #062ce6;
  --highlight-light-color: #c5cce9;
  --radius: 16px;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --highlight-font: 'Reggae One', serif;
  --secondary-font: 'Klee One', 'sarif';
}
.container {
  display: block;
  margin: 0 auto;
}

/* Custom website CSS */
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Reggae+One&display=swap');

body {
  margin: 0 auto;
}
h1 {
  font-size: 2.5em;
  font-family: var(--secondary-font);
  color: var(--highlight-dark-color);
  font-weight: 600;
}
h2 {
  font-size: 1.875em;
  font-family: var(--secondary-font);
  font-weight: 500;
}
h3 {
  font-size: 1.65em;
  font-family: var(--secondary-font);
  font-weight: 500;
}
p {
  font-size: 1.3em;
  font-family: var(--secondary-font);
  line-height: 1.3em;
  font-weight: 450;
}
a {
  text-decoration: none;
  color: var(--highlight-dark-color);
  font-family: var(--secondary-font);
  font-weight: 550;
}
a:hover {
  color:var(--secondary-orange-color);
  background-color: #0227e0;
}
.btn:disabled {
  border-radius: var(--radius);
  color: var(--highlight-dark-color);
  text-align: center;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-weight: 500;
  height: max-content;
  box-shadow: var(--shadow);
}

/*Hero Section*/
.hero-back {
  padding-top: 2vh;
}
.hero-section {
  position: relative;
  height: 42vh;
}
.Site-Carousel {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}
.carousel {
  width: 60%;
  height: 50vh;
  justify-content: center;
  background-color: var(--highlight-light-color);
  padding-left: 0vw;
  padding-top: -2vh;
  position: relative;
  top: 1vh;
}
.inner-carousel {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.carousel-left {
  flex: 3%;
  height: 100%;
  background-color:rgba(2, 19, 106, 0.6);
  font-size: 2vw;
  color: var(--secondary-orange-color);
  display: grid;
  place-items: center;
}
.carousel-right {
  flex: 3%;
  height: 100%;
  font-size: 2vw;
  background-color:rgba(2, 19, 106, 0.6);
  color: var(--secondary-orange-color);
  display: grid;
  place-items: center;
}
.carousel-center {
  flex: 80%;
  height: 100%;
}
.carousel-center h3 {
  color: var(--secondary-orange-color);
  background-color: rgba(2, 19, 106, 0.6);
  display: none;
}
.carousel-center h1 {
  color:#e0cfe6;
  background-color:rgba(2, 19, 106, 0.6);
  display: none;
}
.hero-text h2 {
  padding-top: 2px;
  position: absolute;
  top: 20vh;
  left:65vw;
  width: 30vw;
}
.hero-text h1 {
  padding-top: 2px;
  position: absolute;
  top: 10vh;
  left:65vw;
  width: 27vw;
}

/*main section */
.main-section-left {
  padding-left: 5vw;
  padding-top: 5vh;
}
.main-section-left img {
  position: relative;
  top: 10vh;
  width: auto;
  height: 50vh;
  left: 48vw;
  z-index: 1;
}
.main-section-right{
  position: relative;
  top: -45vh;
  left: 0vw;
  width: 50vw;
}
.main-section h1 {
  padding-right: 1vw;
  position: relative;
  top: -45vh;
  padding-left: 2vw;
}
.main-section-right h2 {
  padding-top: 2vh;
  padding-left: 2vw;
}
.main-button {
  padding: 1vw;
  font-size: 2.5rem;
  background-color:var(--secondary-orange-color);
  color: var(--primary-color);
  font-family: var(--secondary-font);
}

/*plan*/
.plan-back {
  padding-left:0vw;
  height: 45vh;
}
.plan-back h1 {
  position: relative;
  top: -18vh;
  padding-left: 2vw;
}
.plan-section {
  position: relative;
  height: 27vh;
  width: 50%;
  top: -17vh;
}
.plan-text h3 {
  padding-top: 2vh;
  padding-left: 2vw;
}
.plan-img1 img {
  width: 20vw;
  height: auto;
  position: absolute;
  top:-4vh;
  left:72vw;
  z-index: 1;
}
.plan-img2 img {
  width: 34vw;
  height: auto;
  position: absolute;
  top:18vh;
  left:48vw;
}
.plan-img3 img {
  width: 25vw;
  height: auto;
  position: absolute;
  top:33vh;
  left:21vw;
}

/* Footer css properties */
.footer-section {
  height: 12vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 3vh;
}
.flex-container {
  list-style: none;
  display: flex;
  justify-content: center;
}
.flex-container img {
  filter:grayscale(50%);
  width: auto;
  height: 8vh;
  padding-left: 1vw;
}
.copyright h2 {
  color: var(--primary-color);
}

/*Explore*/
.Explore-section-text {
  padding-top: 1vh;
}
.Explore-section-text h2 {
  padding: 1vh;
}
.Explore-section-text h1 {
  padding: 1vh;
}
.Explore-section h2 {
  color: var(--secondary-light-orange-color);
  background-color: #7184e2;
  width: 48vh;
  padding-left:1vw;
}
.Explore-section p {
  width: 48vh;
  font-size: 1.7rem;
}
.Explore-section {
  padding-bottom: 1vh;
  padding-top:3vh;
  grid-row-gap:12vh;
  /* border: 2px solid #5b71e0; */
  display: grid;
  grid-template-areas: 
  'Explore-Item1 Explore-Item3 Explore-Item4'
  'Explore-Item1 Explore-Item3 Explore-Item4'
  'Explore-Item2 Explore-Item5 Explore-Item6';
}
.Explore-section img {
  width: 48vh;
}
.item1-text {
  position: absolute;
  bottom:-36vh;
  background-color:rgba(1, 19, 106, 0.4); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  width: 48vh;
}
.item4-text {
  position: absolute;
  bottom:-36vh;
  background-color:rgba(1, 19, 106, 0.4); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  width: 48vh;
}
/*contactus*/
.login-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2vh;
}
#mc_embed_shell {
  padding-left: 4vh;
}
#mc_embed_signup_scroll {
  color :var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 1.5em;
}
.asterisk {
  color: red;
}
.optionalParent .Contact-button {
  color: var(--primary-color);
  position: relative;
  left: 4vw;
  font-size: 1.4em;
  background-color: var(--secondary-light-orange-color);
  font-family: var(--secondary-font);
}
.Login-left {
  padding: 3vh;
  margin-bottom: 27vh;
  margin-top: -4vh;
  margin-left: 4vh;
  background-color: var(--secondary-light-orange-color);
}
.Login-left p {
    font-size: 1.5em;
    font-family: var(--secondary-font);
    line-height: 1.9em;
    color: var(--primary-color);
}
.Login-left h2 {
  font-size: 2.2em;
  font-family: var(--secondary-font);
  line-height: 1.9em;
  color: var(--primary-color);
}

@media screen and (max-width: 1025px) and (min-width: 641px){
  /*tablet */

/*Hero Section*/
.hero-back {
  padding-top: 2vh;
}
.hero-section {
  background-color: #d7dcf2;
  position: relative;
  height: 38vh;
}
.carousel {
  width: 63%;
  height: 50vh;
  justify-content: center;
  background-color: #d7dcf2;
}
.inner-carousel {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.carousel-left {
  flex: 7%;
  height: 100%;
  background-color: rgba(2, 19, 106, 0.6);
  font-size: 4vw;
  color: var(--secondary-orange-color);
  display: grid;
  place-items: center;
}
.carousel-right {
  flex: 7%;
  height: 100%;
  background-color: rgba(2, 19, 106, 0.6);
  font-size: 4vw;
  color: var(--secondary-orange-color);
  display: grid;
  place-items: center;
}
.carousel-center {
  flex: 90%;
  height: 100%;
}
.carousel-center h3 {
  color: var(--secondary-orange-color);
  background-color: rgba(2, 19, 106, 0.6);
}
.carousel-center h1 {
  color:#c9a0d7;
  background-color:rgba(2, 19, 106, 0.6);
}
.hero-text h2 {
  padding-top: 2px;
  position: absolute;
  top: 12vh;
  left:65vw;
  width: 30vw;
}
.hero-text h1 {
  padding-top: 2px;
  position: absolute;
  top: 3vh;
  left:65vw;
  font-size: 2.2rem;
  width: 30vw;
}

/*main section */
.main-section-left {
  padding-left: 3vw;
  padding-top: 24vh;
}
.main-section-left img {
  position: relative;
  top: 9vh;
  height: 30vh;
  left: 37vw;
  z-index: 1;
}
.main-section-right{
  position: relative;
  top: -45vh;
  left: 0vw;
  width: 75vw;
}
.main-section h1 {
  padding-right: 1vw;
  position: relative;
  top: -45vh;
  padding-left: 2vw;
}
.main-section-right h2 {
  font-size: 1.5rem;
  padding-top: 2vh;
  background-color:#d7dcf2;
  padding-right: 1vw;
}
.main-button {
  padding: 1vw;
  font-size: 1.5rem;
  font-weight: bold;
  background-color:var(--secondary-orange-color);
  color: #062ae0;
  font-family: var(--secondary-font);
}

/*plan*/
.plan-back {
  padding-left:0vw;
}
.plan-back h1 {
  position: relative;
  top: -13vh;
}
.plan-section {
  background-color: #d7dcf2;
  position: relative;
  height: 26vh;
  width: 75%;
  top: -12vh;
}
.plan-text h3 {
  padding-top: 2vh;
  background-color:#d7dcf2;
  padding-left: 1vw;
  padding-bottom: 1vh;
}
.plan-img1 img {
  width: 25vw;
  height: auto;
  position: absolute;
  top:23vh;
  left:71vw;
  z-index: 1;
}
.plan-img2 img {
  width: 40vw;
  height: auto;
  position: absolute;
  top:39vh;
  left:38vw;
}
.plan-img3 img {
  width: 35vw;
  height: auto;
  position: absolute;
  top:36vh;
  left:1vw;
}

/* Footer css properties */
.footer-section {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 12vh;
}
.flex-container {
  list-style: none;
  display: flex;
  justify-content: center;
}
.flex-container img {
  filter:grayscale(50%);
  width: auto;
  width: 8vh;
  padding-left: 1vw;
}
.copyright h2 {
  color: var(--primary-color);
  font-size: 1.65em;
}

/*Explore*/
.Explore-section-text {
  padding-top: -1vh;
  background-color: var(--highlight-light-color);
}
.Explore-section-text h2 {
  padding: 1vh;
}
.Explore-section h2 {
  color: var(--secondary-orange-color);
  font-size: 1.7rem;
  background-color: #7184e2;
  width: 33.5vh;
}
.Explore-section p {
  width: 33.5vh;
}
.Explore-section {
  padding-bottom: 1vh;
  padding-top:2vh;
  grid-row-gap:3vh;
  display: grid;
  grid-template-areas: 
  'Explore-Item1 Explore-Item4 '
  'Explore-Item1 Explore-Item4 '
  'Explore-Item2 Explore-Item3 '
  'Explore-Item5 Explore-Item6 ';

}.Explore-section img {
  width: 33.5vh;
}
.item1-text {
  position: absolute;
  bottom: -17vh;
  background-color: rgba(1, 19, 106, 0.4);
  color: #f1f1f1;
  width: 100%;
  width: 33.5vh;
  display: none;
}
.item4-text {
  display: none;
  position: absolute;
  bottom: -82vh;
  background-color: rgba(1, 19, 106, 0.4);
  color: #f1f1f1;
  width: 100%;
  width: 33.5vh;
}

/*contactus*/
.login-box {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1vh;
}
#mc_embed_shell {
  padding-left: 12%;
}
#mc_embed_signup_scroll {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 1.7em;
}
.asterisk {
  color: red;
}
.optionalParent .Contact-button {
  color: var(--primary-color);
  position: relative;
  left: 4vw;
  font-size: 1.5em;
  background-color: var(--secondary-light-orange-color);
  font-family: var(--secondary-font);
}
.Login-left {
  padding: 2vh;
  margin-bottom: 1vh;
  margin-top: 0vh;
  margin-left: 0vh;
  background-color: var(--secondary-light-orange-color);
}

.Login-left p {
  font-size: 1.6em;
  font-family: var(--secondary-font);
  line-height: 1.9em;
  color: var(--primary-color);
}

.Login-left h2 {
  font-size: 2.5em;
  font-family: var(--secondary-font);
  line-height: 1.9em;
  color: var(--primary-color);
}
}

@media screen and (max-width: 640px) and (min-width:375px) {
  /* big phone*/
/*Hero Section*/
.hero-back {
  padding-top: 14vh;
}
.hero-section {
  background-color: var(--highlight-light-color);
  position: relative;
  height: 38vh;
}
.carousel-center{
  position: relative;
  top: 33vh;
  left:0vh;
}
.Site-Carousel {
  display: flex;
  justify-content: center;
  padding-top: 4vh;
}
.carousel {
  width: 100%;
  height: 50vh;
  justify-content: center;
  background-color: #d7dcf2;
  padding-left: 0vw;
  padding-top: 0vh;
}
.inner-carousel {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.carousel-left {
  flex: 7%;
  height: 100%;
  background-color:rgba(2, 19, 106, 0.6);
  font-size: 7vw;
  color: var(--secondary-orange-color);
  display: grid;
  place-items: center;
}
.carousel-right {
  flex: 7%;
  height: 100%;
  background-color:rgba(2, 19, 106, 0.6);
  font-size: 7vw;
  color: var(--secondary-orange-color);
  display: grid;
  place-items: center;
}
.carousel-center {
  flex: 85%;
  height: 100%;
}
.carousel-center h3 {
  color: var(--secondary-orange-color);
  font-size: 1.3rem;
  background-color: rgba(2, 19, 106, 0.6);
}
.carousel-center h1 {
  color:#c9a0d7;
  font-size: 1.857rem;
  background-color:rgba(2, 19, 106, 0.6);
}
.hero-text h2 {
  padding-top: 2px;
  position: absolute;
  top: 12vh;
  left: 65vw;
  width: 25vw;
  display: none;
}
.hero-text h1 {
  font-size: 2.3rem;
  font-weight:bolder;
  padding-top: 2px;
  position: absolute;
  top:-14vh;
  left:1.5vw;
  width: 90vw;
  font-family:var(--secondary-font);
}

/*main section */
.main-section-left {
  padding-left: 1vw;
  padding-top: 23vh;
}
.main-section-left img {
  position: relative;
  top: 38vh;
  height: 30vh;
  left: 6vw;
  z-index: 1;
}
.main-section-right {
  position: relative;
  top: -45vh;
  left: 0vw;
  width: 100vw;
}
.main-section h1 {
  padding-right: 1vw;
  position: relative;
  top: -45vh;
  padding-left: 2vw;
  font-size: 1.857em;
}
.main-section-right h2 {
  font-size: 1.65rem;
  padding-top: 2vh;
  background-color: #d7dcf2;
  padding-right: 1vw;
}
.main-button {
  padding: 1vw;
  font-size: 1.5rem;
  font-weight: bold;
  background-color:var(--secondary-orange-color);
  color: #062be2;
  font-family: var(--secondary-font);
}

/*Plan*/
.plan-section {
  background-color: #d7dcf2;
  position: relative;
  height: 20vh;
  width: 100%;
}
.plan-back h1 {
  position: relative;
  top: -13vh;
  font-size: 1.875em;
}
.plan-back {
  padding-top: 10vh;
}
.plan-text h3 {
  font-size: 1.3rem;
  padding-top: 1vh;
  background-color:#d7dcf2;
  width: 100%;
}
.plan-img1 img {
  width: 30vw;
  height: auto;
  position: absolute;
  top:27vh;
  left:55vw;
  z-index: 1;
}
.plan-img2 img {
  width: 80vw;
  height: auto;
  position: absolute;
  top:45vh;
  left:10vw;
}
.plan-img3 img {
  width: 50vw;
  height: auto;
  position: absolute;
  top:36vh;
  left:4vw;
}
.plan-text button {
  padding: 1vw;
    font-size: 1.5rem;
    font-weight: bold;
    background-color:var(--secondary-orange-color);
    color: #0428e0;
    font-family: var(--secondary-font);
}

/* Footer css properties */
.footer-section {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 35vh;
}
.flex-container {
  list-style: none;
  display: flex;
  justify-content: center;
}
.flex-container img {
  filter:grayscale(50%);
  width: 5.5vh;
  padding-left: 0vw;
}
.copyright h2 {
  font-size: 1.3em;
  color: #5b71e0;
}

/*contactus*/
.login-box {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0vh;
}
#mc_embed_shell {
  padding: 1%;
}
#mc_embed_signup_scroll {
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 1.4em;
}
.asterisk {
  color: red;
}
.optionalParent .Contact-button {
  color: var(--primary-color);
  position: relative;
  left: 1vw;
  font-size: 1.2em;
  background-color: var(--secondary-light-orange-color);
  font-family: var(--secondary-font);
}
.Login-left {
  padding: 1vh;
  margin: 1vh;
  background-color: var(--secondary-light-orange-color);
}
.Login-left p {
  font-size: 1.2em;
  font-family: var(--secondary-font);
  line-height: 1.7em;
  color: var(--primary-color);
}
.Login-left h2 {
  font-size: 1.6em;
  font-family: var(--secondary-font);
  line-height: 1.7em;
  color: var(--primary-color);
}

/*Explore*/
.Explore-section {
  padding:0vh;
  justify-content: center;
  display: grid;
  grid-row-gap: 1vh;
  grid-template-areas: 
  'Explore-Item3'
  'Explore-Item1'
  'Explore-Item4'
  'Explore-Item2'
  'Explore-Item5'
  'Explore-Item6';
}
.Explore-section-text h2 {
  padding: 0vh;
  font-size: 1.3rem;
}
.Explore-section h2 {
  color: var(--secondary-orange-color);
  font-size: 1.875rem;
  background-color: #7184e2;
  width: 100%;
}
.Explore-section p {
  font-size: 1.1rem;
  width: 100%;
}
.Explore-section img {
  width: 100%;
  height: auto;
  padding-left: 0vw;
  padding: 0vh;
}
.Explore-Item5 {
  padding-top: 0vh;
}
.item1-text {
  position: absolute;
  background-color: rgba(1, 19, 106, 0.4);
  color: #f1f1f1;
  bottom: -15vh;
  width: 100%;
}
.item4-text {
  position: absolute;
  bottom: -134vh;
  background-color: rgba(1, 19, 106, 0.4);
  color: #f1f1f1;
  width: 100%;
}
}

@media screen and (max-width: 374px) {
  /* small phone*/
  
        /*Hero Section*/
        .hero-back {
          padding-top: 14vh;
        }
        .hero-section {
          background-color: #d7dcf2;
          position: relative;
          height: 32vh;
        }
        .carousel {
          padding-left: 0vw;
          padding-top: 0vh;
        }
        .carousel-center {
          position: relative;
          top: 35vh;
          left: 0vh;
        }
        .Site-Carousel {
          display: flex;
          justify-content: center;
          padding-top: 4vh;
        }
        .carousel {
          width: 100%;
          height: 50vh;
          justify-content: center;
          background-color: #d7dcf2;
        }
        .inner-carousel {
          height: 100%;
          width: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
        }
        .carousel-left {
          flex: 5%;
          height: 100%;
          background-color: rgba(2, 19, 106, 0.6);
          font-size: 7vw;
          color: var(--secondary-orange-color);
          display: grid;
          place-items: center;
        }
        .carousel-right {
          flex: 5%;
          height: 100%;
          background-color: rgba(2, 19, 106, 0.6);
          font-size: 7vw;
          color: var(--secondary-orange-color);
          display: grid;
          place-items: center;
        }
        .carousel-center {
          flex: 80%;
          height: 100%;
        }
        .hero-text p {
          display: none;
        }
        .hero-text h2 {
          display: none;
        }
        .hero-text h1 {
          font-size: 1.875em;
          font-weight: bolder;
          padding-top: 2px;
          position: absolute;
          top: -14vh;
          left: 1.5vw;
          width: 100vw;
          font-family: var(--secondary-font);
        }
    /*main section */
    .main-section-left {
      padding-left: 0vw;
      padding-top: 22vh;
    }
    .main-section-left img {
      position: relative;
      top: 51vh;
      width: 99%;
      left: 0vw;
      z-index: 1;
    }
    .main-section-right {
      position: relative;
      top: -55vh;
      left: 1vw;
      width: 100vw;
    }
    .main-section h1 {
      padding-right: 0vw;
      position: relative;
      top: -58vh;
      padding-left: 2vw;
      width: 100%;
      font-size: 1.65em;
    }
    .main-section-right h2 {
      font-size: 1.1rem;
      padding-top: 2vh;
      background-color: #d7dcf2;
      padding-right: 1vw;
    }
    .main-button {
      padding: 1vw;
      font-size: 1.3rem;
      font-weight: bold;
      background-color: var(--secondary-orange-color);
      color: #0429e0;
      font-family: var(--secondary-font);
    }
    /*Plan*/
    .plan-section {
      background-color: #d7dcf2;
      position: relative;
      height: 20vh;
      width: 100%;
    }
    .plan-back {
      padding-top: 20vh;
    }
    .plan-back h1 {
      font-size: 1.65rem;
    }
    .plan-text h3 {
      font-size: 1.1em;
      padding-top: 1vh;
      background-color: #d7dcf2;
      width: 100%;
    }
    .plan-img1 img {
      display: none;
      width: 35vw;
      height: auto;
      position: absolute;
      top: 35vh;
      left: 60vw;
      z-index: 1;
    }
    .plan-img2 img {
      display: none;
      width: 80vw;
      height: auto;
      position: absolute;
      top: 50vh;
      left: 10vw;
    }
    .plan-img3 img {
      display: none;
      width: 50vw;
      height: auto;
      position: absolute;
      top: 45vh;
      left: 5vw;
    }
    .plan-text button {
      padding: 1vw;
      font-size: 1.3rem;
      font-weight: bold;
      background-color: var(--secondary-orange-color);
      color: #0329e3;
      font-family: var(--secondary-font);
    }
  
    /* Footer css properties */
    .footer-section {
      height: 10vh;
      display: grid;
      grid-template-columns: 1fr 2fr;
      padding-top: 20vh;
    }
    .flex-container {
      list-style: none;
      display: flex;
      justify-content: center;
    }
    .flex-container img {
      filter: grayscale(50%);
      width: 7vh;
      padding-left: 0vw;
    }
    .copyright h2 {
      font-size: 0.9em;
      color: #0227e0;
    }
    
    /*contactus*/
    .login-box {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0vh;
      width: 100vw;
      height:auto;
    }
    #mc_embed_shell {
      padding: 1%;
    }
    #mc_embed_signup_scroll {
      color: var(--primary-color);
      font-family: var(--secondary-font);
      font-size: 1.4em;
    }
    .asterisk {
      color: red;
    }
    .optionalParent .Contact-button {
      color: var(--primary-color);
      position: relative;
      left: 1vw;
      font-size: 1.2em;
      background-color: var(--secondary-light-orange-color);
      font-family: var(--secondary-font);
    }
    .Login-left {
      padding: 1vh;
      margin: 1vh;
      background-color: var(--secondary-light-orange-color);
    }
    .Login-left p {
      font-size: 1.2em;
      font-family: var(--secondary-font);
      line-height: 1.7em;
      color: var(--primary-color);
    }
    .Login-left h2 {
      font-size: 1.6em;
      font-family: var(--secondary-font);
      line-height: 1.7em;
      color: var(--primary-color);
    }
/*Explore*/

.Explore-section {
  padding: 0vh;
  justify-content: center;
  display: grid;
  grid-row-gap: 1vh;
  grid-template-areas:
    'Explore-Item3'
    'Explore-Item1'
    'Explore-Item4'
    'Explore-Item2'
    'Explore-Item5'
    'Explore-Item6';
}
.Explore-section-text h2 {
  padding: 1vh;
  font-size: 1rem;
}
.Explore-section h2 {
  color: var(--secondary-orange-color);
  font-size: 1.1rem;
  background-color: #7184e2;
  width: 100%;
}
.Explore-section p {
  width: 100%;
  font-size: 0.9rem;
}
.Explore-section img {
  width: 100%;
  height: auto;
  padding-left: 0vw;
  padding: 0vh;
}
.Explore-Item5 {
  padding-top: 0vh;
}
.item1-text {
  position: absolute;
  background-color: rgba(1, 19, 106, 0.4);
  color: #f1f1f1;
  width: 100%;
  bottom: -37vh;
  display: none;
}
.item4-text {
  position: absolute;
  bottom: -203vh;
  background-color: rgba(1, 19, 106, 0.4);
  color: #f1f1f1;
  width: 100%;
  display: none;
}
}