*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #5b71e0;
  --on-primary-color: #be6fd9;
  --secondary-orange-color: #ffb453;
  --secondary-light-orange-color: #eafaea;
  --highlight-dark-color: #0e1e6c;
  --highlight-light-color: var(--primary-color);
  --radius: 16px;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --highlight-font: 'Markazi Text', serif;
  --secondary-font: 'Karla', sans-serif;
}

.container {
  display: block;
  margin: 0 auto;
}

/* Padding properties */
.p-1 {padding: 1rem;}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}
.p-4 {padding: 4rem;}
.p-5 {padding: 5rem;}
.p-6 {padding: 6rem;}

/* Padding Top and Bottom */
.pt-1 {padding-top: 1rem;}
.pt-2 {padding-top: 2rem;}
.pt-3 {padding-top: 3rem;}
.pt-4 {padding-top: 4rem;}
.pt-5 {padding-top: 5rem;}
.pb-1 {padding-bottom: 1rem;}
.pb-2 {padding-bottom: 2rem;}
.pb-3 {padding-bottom: 3rem;}
.pb-4 {padding-bottom: 4rem;}
.pb-5 {padding-bottom: 5rem;}

/* Padding Start and End */
.ps-1 {padding-left: 1rem;}
.ps-2 {padding-left: 2rem;}
.ps-3 {padding-left: 3rem;}
.ps-4 {padding-left: 4rem;}
.ps-5 {padding-left: 5rem;}
.pe-1 {padding-right: 1rem;}
.pe-2 {padding-right: 2rem;}
.pe-3 {padding-right: 3rem;}
.pe-4 {padding-right: 4rem;}
.pe-5 {padding-right: 5rem;}

/* Padding X and Y */
.px-1 {padding-left: 2rem; padding-right: 1rem;}
.px-2 {padding-left: 2rem; padding-right: 2rem;}
.px-3 {padding-left: 3rem; padding-right: 3rem;}
.px-4 {padding-left: 4rem; padding-right: 4rem;}
.px-5 {padding-left: 5rem; padding-right: 5rem;}
.px-6 {padding-left: 6rem; padding-right: 6rem;}
.py-1 {padding-top: 1rem; padding-bottom: 1rem;}
.py-2 {padding-top: 2rem; padding-bottom: 2rem;}
.py-3 {padding-top: 3rem; padding-bottom: 3rem;}
.py-4 {padding-top: 4rem; padding-bottom: 4rem;}
.py-5 {padding-top: 5rem; padding-bottom: 5rem;}
.py-6 {padding-top: 6rem; padding-bottom: 6rem;}

/* Margin properties */
.m-1 {margin: 1rem;}
.m-2 {margin: 2rem;}
.m-3 {margin: 3rem;}
.m-4 {margin: 4rem;}
.m-5 {margin: 5rem;}

/* Margin Top and Bottom */
.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}
.mt-3 {margin-top: 3rem;}
.mt-4 {margin-top: 4rem;}
.mt-5 {margin-top: 5rem;}
.mb-1 {margin-bottom: 1rem;}
.mb-2 {margin-bottom: 2rem;}
.mb-3 {margin-bottom: 3rem;}
.mb-4 {margin-bottom: 4rem;}
.mb-5 {margin-bottom: 5rem;}
.mb-6 {margin-bottom: 6rem;}
.mb-7 {margin-bottom: 7rem;}
.mb-8 {margin-bottom: 8rem;}
.mb-9 {margin-bottom: 9rem;}
.mb-10 {margin-bottom: 10rem;}

/* Padding Start and End */
.ms-1 {margin-left: 1rem;}
.ms-2 {margin-left: 2rem;}
.ms-3 {margin-left: 3rem;}
.ms-4 {margin-left: 4rem;}
.ms-5 {margin-left: 5rem;}
.me-1 {margin-right: 1rem;}
.me-2 {margin-right: 2rem;}
.me-3 {margin-right: 3rem;}
.me-4 {margin-right: 4rem;}
.me-5 {margin-right: 5rem;}

/* Padding X and Y */
.mx-1 {margin-left: 1rem; margin-right: 1rem;}
.mx-2 {margin-left: 2rem; margin-right: 2rem;}
.mx-3 {margin-left: 3rem; margin-right: 3rem;}
.mx-4 {margin-left: 4rem; margin-right: 4rem;}
.mx-5 {margin-left: 5rem; margin-right: 5rem;}
.my-1 {margin-top: 1rem; margin-bottom: 1rem;}
.my-2 {margin-top: 2rem; margin-bottom: 2rem;}
.my-3 {margin-top: 3rem; margin-bottom: 3rem;}
.my-4 {margin-top: 4rem; margin-bottom: 4rem;}
.my-5 {margin-top: 5rem; margin-bottom: 5rem;}

/* Auto margin properties */
.ma-x {margin: o auto;}
.ma-y {margin: auto 0;}
.ma {margin: auto;}

/* Display, alignment and justification properties */
.d-flex {display: flex;}
.d-flex-wrap {display: flex; flex-wrap: wrap;}
.text-center {text-align: center;}
.jc-center {justify-content: center;}
.jc-start {justify-content: start;}
.jc-end {justify-content: end;}
.jc-space-between {justify-content: space-between;}
.ai-center {align-items: center;}

/* Grid properties */
.grid-2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.2fr));
}

/* Custom website CSS */
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');

body {
  margin: 0 auto;
}

h1 {
  font-size: 2.3rem;
  font-family: var(--secondary-font);
  color: var(--highlight-light-color);
  font-weight: 500;
}

h3 {
  font-size: 1.3rem;
  font-family: var(--secondary-font);
  font-weight: 500;
}

h4 {
  font-size: 1.2rem;
  font-family: var(--secondary-font);
  font-weight: 500;
}

p {
  font-size: 1.2rem;
  font-family: var(--secondary-font);
  line-height: 1.6;
  font-weight: 450;
}

a {
  text-decoration: none;
  color: var(--highlight-dark-color);
  font-family: var(--secondary-font);
  font-weight: 550;
}

a:hover {
  color: var(--on-primary-color);
}

.btn:disabled {
  background-color: var(--highlight-light-color);
  border-radius: var(--radius);
  color: var(--highlight-dark-color);
  text-align: center;
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  height: max-content;
  box-shadow: var(--shadow)
}

/* Navbar css style */
.nav {
  margin: 0 auto;
  height: 12vh;
  background-color:#a4d5f4eb;
}
.nav img {
  padding: 1vh;
  height: 15vh;
}

.topnav {
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
  padding-top: 3vh;
}

.topnav li {
  display: inline;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2rem;
  color: var(--highlight-dark-color);
}

.topnav a:hover {
  background-color: var(--on-primary-color);
  color: var(--highlight-light-color);
}

/*Hiro Section*/
.hiro-section  {
  height: 50vh;
  background-size: cover;
  background-image: url(./pages/koko.JPG);
}

.hiro-section h1 {
  justify-content: center;
  flex: 1;
  display: flex;
  padding-top: 4%;
  font-size: 3.4rem;
}

/*Explore*/
.Explore-section {
  background-image: url(./pages/water.jpg);
  height: 50vh;
  background-size: cover;
}

/* Footer css properties */
.footer-section {
  background-color:#ffb453;
  height: 12vh;
  grid-template-columns: 1fr 2fr;
  padding-top: 3vh;
}

.flex-container {
  list-style: none;
  display: flex;
}

.flex-container img {
  filter:grayscale(50%);
  width: 4vh;
}

.copyright p {
  font-size: 1.5rem;
  color: #5b71e0;
}

/*contactus*/
.contactus-section {
  background-image: url(./pages/sunset.JPG);
  background-size: cover;
  height: 60vh;
  padding-bottom: 10vh;
}

.Login-box p {
  font-size: 1.5rem;
  padding: 1vw;
  padding-top: 3.5vh;
}
.Login-box h1 {
  font-size: 4.5rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
  width:45vw;
  background-color: #a4d5f4eb;
  border: 1px solid #1751ef;
  padding-top: 1vh;
}

.contactUs-form label {
  text-align: left;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 6vh;
}
.contactUs-form input {
  line-height: 4vh;
  width: 60%;
  border-radius: var(--radius);
}
.contactUs-form textarea {
  line-height: 5vh;
  width: 60%;
  border-radius: var(--radius);
}

.contactUs-form button {
  padding: 7px;
  width: 100%;
  border-radius: var(--radius);
  font-size: 1.5rem;
  background-color: #2669b5;
}

@media screen and (max-width: 1007px) and (min-width: 641px){
  /*tablet */

/* Navbar css style */
.nav {
  grid-template-columns: 1fr 2fr;
}
.nav img {
  height: 12vh;
}

.topnav {
  padding-top: 2vh;
}

.topnav li {
  font-size: 1.2rem;
}

  /*Hiro Section*/
.hiro-section  {
  height: 40vh;
}

.hiro-section h1 {
  font-size: 2.5rem;
}

/*Explore*/
.Explore-section {
  height: 40vh;
}

/* Footer css properties */

.copyright p {
  font-size: 1.2rem;
}

/*contactus*/
.contactus-section {
  height: 40vh;
  padding-bottom: 10vh;
}

.Login-box p {
  font-size: 1.2rem;
  padding: 1vw;
  padding-top: 2.5vh;
}
.Login-box h1 {
  font-size: 3rem;
}

form {
  width:45vw;
  background-color: #a4d5f4eb;
  border: 1px solid #ffb453;
  padding-top: 1vh;
}

.contactUs-form label {
  font-size: 1rem;
  line-height: 4vh;
}
.contactUs-form input {
  line-height: 3vh;
}
.contactUs-form textarea {
  line-height: 4vh;
}

.contactUs-form button {
  padding: 3px;
  font-size: 1rem;
}
}

@media screen and (max-width: 640px){
  /* phone*/

  /* Navbar css style */
.nav {
  grid-template-columns: 1fr 3fr;
}
.nav img {
  height: 9vh;
}

.topnav {
  padding-top: 2vh;
}

.topnav li {
  font-size: 0.9rem;
}

  /*Hiro Section*/
.hiro-section  {
  height: 30vh;
}

.hiro-section h1 {
  font-size: 1.8rem;
}

/*Explore*/
.Explore-section {
  height: 30vh;
}

/* Footer css properties */

.copyright p {
  font-size: 0.8rem;
}

/*contactus*/
.contactus-section {
  height: 45vh;
  padding-bottom: 10vh;
}

.Login-box {
  grid-template-columns: 1fr;
}

.Login-box p {
  font-size: 1rem;
  padding: 1vw;
  padding-top: 1vh;
}
.Login-box h1 {
  display: none;
}

form {
  width:90vw;
  background-color: #a4d5f4eb;
  border: 1px solid #ffb453;
}

.contactUs-form label {
  font-size: 0.9rem;
  line-height: 3vh;
}
.contactUs-form input {
  line-height: 2vh;
}
.contactUs-form textarea {
  line-height: 3vh;
}

.contactUs-form button {
  padding: 3px;
  font-size: 1rem;
}

}




